/* Theme */

main {
	background: #43A047;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a:hover {
	color: #EEE82C;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icons-social a:hover svg path{
	fill: #EEE82C;
}
