/* Theme */

main {
	background: #485564;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a:hover {
	color: #FE5F55;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icons-social a:hover svg path{
	fill: #FE5F55;
}
