/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a:hover {
	color: #49111C;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icons-social a:hover svg path{
	fill: #49111C;
}
