/* Theme */

main {
	background: #EDEDED;
	color: #4B5658;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a:hover {
	color: #1E2019;
}

.icons-social a svg path{
	fill: #4B5658;
}

.icons-social a:hover svg path{
	fill: #1E2019;
}
